a,
a:visited {
	color: #fff;
}
@font-face {
	font-family: 'G';
	src: url('./fonts/GothamBook.eot');
	/* IE9 Compat Modes */
	src: url('./fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/GothamBook.woff') format('woff'),
		/* Pretty Modern Browsers */ url('./fonts/GothamBook.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/GothamBook.svg') format('svg');
	/* Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'G';
	font-weight: bold;
	src: url('./fonts/GothamBold.eot');
	/* IE9 Compat Modes */
	src: url('./fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/GothamBold.woff') format('woff'),
		/* Pretty Modern Browsers */ url('./fonts/GothamBold.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/GothamBold.svg') format('svg');
	/* Legacy iOS */
	font-display: swap;
}

@keyframes pixelColor {
	from {
		background-color: black;
	}

	to {
		background-color: white;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

html {
	/* test this after removing GSAP scrolltrigger markers */
	/* overflow: hidden; */
}

body {
	margin: 0;
	font-family: 'G', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

h1 {
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.btn {
	appearance: none;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	font-family: 'G', sans-serif;
	padding: 0.6rem 1.1rem 0.65rem;
	font-size: 0.75rem;
	position: relative;
	transition: color 0.125s ease-in-out 0.125s;
	text-transform: uppercase;
	text-decoration: none;
}

.btn a,
.btn a:visited {
	color: #fff;
	text-decoration: none;
}

.btn:hover,
.btn:hover a,
.btn a:hover {
	color: #000;
}

.btn:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 30rem;
	bottom: 0;
	background: #fff;
	/* transform: scaleX(0.001); */
	/* transform-origin: 0; */
	transition: right 0.25s ease-in-out;
}

.btn:hover:before {
	/* transform: scaleX(1); */
	right: 0;
}

/* 980px */
@media only screen and (min-width: 61.25em) {
	.mobile {
		display: none;
	}
}

/* 979px */
@media only screen and (max-width: 61.1875em) {
	.desktop {
		display: none;
	}
}
